section {
  height: 100vh;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

body::-webkit-scrollbar {
  display: none;
}

.filter-item {
  width: 70px;
  height: 88px;
}

li {
  list-style: none;
  padding: 0 1rem;
}

ul {
  display: flex;
  justify-content: end;
}

nav {
  position: absolute;
  top: 0;
  right: 0;
}